@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow{
    text-shadow: 2px 2px 5px #000;
}

.animate-spin{
    animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}